<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content />
    <meta name="author" content />
    <title>Change password</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" th:href="@{/}">Virtual Diary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-gear"></i></div>
                    <h1 class="fw-bolder">Password</h1>
                    <p class="lead fw-normal text-muted mb-0">Change your password</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form autocomplete="off" method="post" th:action="@{/changePassword}">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="inputPassword" type="password" placeholder="Enter your old password..." th:name="oldPassword" required/>
                                <label for="inputPassword">Old password</label>
                                <!--/*@thymesVar id="error" type="com.lato.pai.controller.MainPageController"*/-->
                                <div class="alert alert-danger" style="margin-top: 1em" role="alert" th:text="${error}" th:if="${error}"></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="inputPassword1" onkeyup='check();' type="password" aria-describedby="passwordHelpBlock" placeholder="Enter your password..." th:name="newPassword" required/>
                                <label for="inputPassword1">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="inputPassword2" onkeyup='check();' type="password" placeholder="Enter your password confirm..." name="password" required/>
                                <label for="inputPassword2">Confirm Password</label>
                                <div id='message'></div>
                            </div>
                            <div class="form-floating mb-3 align-items-center">
                                <button class="btn btn-dark btn-lg px-4 me-sm-3" type="submit" id="save">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Contact cards-->
            <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
                    <div class="h5 mb-2">Chat with us</div>
                    <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                    <div class="h5">Ask the community</div>
                    <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
                    <div class="h5">Support center</div>
                    <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
                    <div class="h5">Call us</div>
                    <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Jacek Lato | PAI - Politechnika Lubelska 2021</div></div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<script>
    var check = function() {
        const button = document.getElementById('save');
        if (document.getElementById('inputPassword1').value == document.getElementById('inputPassword2').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').style.background = '#cff4fc';
            document.getElementById('message').style.position = 'relative';
            document.getElementById('message').style.padding = '1rem 1rem';
            document.getElementById('message').style.marginBottom = '1rem';
            document.getElementById('message').style.marginTop = '1rem';
            document.getElementById('message').style.border = '1 px solid transparent';
            document.getElementById('message').style.borderRadius = '0.25rem';
            document.getElementById('message').style.border = '#b6effb';
            document.getElementById('message').innerHTML = 'Password matches';
            button.disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').style.background = '#842029';
            document.getElementById('message').style.position = 'relative';
            document.getElementById('message').style.padding = '1rem 1rem';
            document.getElementById('message').style.marginBottom = '1rem';
            document.getElementById('message').style.marginTop = '1rem';
            document.getElementById('message').style.border = '1 px solid transparent';
            document.getElementById('message').style.borderRadius = '0.25rem';
            document.getElementById('message').style.border = '#f8d7da';
            document.getElementById('message').innerHTML = 'Password dont matches';
            button.disabled = true;
        }
    }
</script>
</body>
</html>
