<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Edit student details</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" th:href="@{/}">Virtual Diary</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-gear"></i></div>
                            <h1 class="fw-bolder">Student</h1>
                            <p class="lead fw-normal text-muted mb-0">Edit details - Admin</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">

                                <form autocomplete="off" method="post" th:action="@{/editUserAdmin}" th:object="${studentToEdit}">


                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                    </div>

                                        <input class="form-control" id="inputID" type="text" th:field="*{id}" hidden="hidden"/>
                                        <input class="form-control" id="inputPass" type="text" th:field="*{password}" hidden="hidden"/>

                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputLogin" type="text" th:field="*{login}" th:errorClass="error" required/>
                                        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red"></span><br>
                                        <label for="inputLogin">Login</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputName" type="text" th:field="*{name}" th:errorClass="error" required/>
                                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span><br>
                                        <label for="inputName">Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputSurname" type="text" th:field="*{surname}" th:errorClass="error" required/>
                                        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red"></span><br>
                                        <label for="inputName">Surname</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" type="email" th:field="*{email}" th:errorClass="error" required/>
                                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span><br>
                                        <label for="inputEmail">Email address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPhone" type="tel" th:field="*{phoneNumber}" th:errorClass="error" required/>
                                        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></span><br>
                                        <label for="inputPhone">Phone number</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputAddress1" type="text" th:field="*{address1}" th:errorClass="error" required/>
                                        <span th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}" style="color: red"></span><br>
                                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span><br>
                                        <label for="inputAddress1">Address line 1</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputAddress2" type="text" th:field="*{address2}" th:errorClass="error"/>
                                        <span th:if="${#fields.hasErrors('address2')}" th:errors="*{address2}" style="color: red"></span><br>
                                        <label for="inputAddress2">Address line 2 (optional)</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" th:field="*{classNo}">
                                            <option selected value="select" >Select...</option>
                                            <option th:each="klasa : ${classesList}" th:value="${klasa.name}" th:text="${klasa.name} + ' ' + ${klasa.desc}" class="form-control" id="inputDrivingLicenceNo" type="text"> </option>
                                            <label for="inputDrivingLicenceNo">Class</label>
                                        </select>
                                    </div>
                                    <div class="form-floating mb-3 align-items-center">
                                        <button class="btn btn-dark btn-lg px-4 me-sm-3" type="submit" id="buttonRegister">Edit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Contact cards-->
                    <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
                            <div class="h5 mb-2">Chat with us</div>
                            <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                            <div class="h5">Ask the community</div>
                            <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
                            <div class="h5">Support center</div>
                            <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
                            <div class="h5">Call us</div>
                            <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Jacek Lato | PAI - Politechnika Lubelska 2021</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="./js/scripts.js"></script>
    </body>
</html>
