<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Virtual School Diary</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" th:href="@{/}">Virtual Diary</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">A Virtual Diary for modern schools</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Great design and customize responsive diary, the world’s most popular education review system!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{/login}">Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://image.slidesharecdn.com/virtualschoolappppt-151031164938-lva1-app6891/95/virtual-school-application-1-638.jpg?cb=1446310260" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Virtual Diary - więsz więcej.</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">Wszystko pod ręką</h2>
                                    <p class="mb-0">Najważniejsze informacje z dziennika elektronicznego na jedno kliknięcie.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">
                                        Informacja zawsze na czas</h2>
                                    <p class="mb-0">Natychmiastowe powiadomienia nie pozwolą przegapić istotnych informacji.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Wsparcie nauki zdalnej i hybrydowej</h2>
                                    <p class="mb-0">Zaplanowane lekcje on-line widoczne w Planie lekcji i Terminarzu, załączniki do zadań domowych.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Informacje</h2>
                                <p class="lead fw-normal text-muted mb-5">Podstaowe informacje dzięki którym przekonasz się dlaczego nasz system jest świetnym wyborem</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://media.istockphoto.com/photos/light-bulbs-concept-picture-id1144178813?k=6&m=1144178813&s=612x612&w=0&h=jWQfSmKYcD9blPa8C0qhtdK_Rrfg5rrBBz-xhAn3DqU=" alt="..." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Wsparcie nauki</h5></a>
                                    <p class="card-text mb-0">
                                        Wiesz, co i na kiedy jest zadane.
                                        Sprawdziany, klasówki, wycieczki – nic Ci nie umknie.
                                        Pobierasz przesłane przez nauczyciela pliki, a uczeń przesyła mu zadania domowe w postaci załączników.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://as2.ftcdn.net/jpg/03/94/35/15/1000_F_394351514_fHxP1mLFbPvhPdUgxMz8wGmPvFzzgzsB.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Monitorowanie</h5></a>
                                    <p class="card-text mb-0">
                                        Trzymasz rękę na pulsie – wygodnie przeglądasz oceny i frekwencję.
                                        Znasz harmonogram zajęć i wiesz o wszystkich zmianach.
                                        Masz dostęp do materiałów z zaplanowanych i zrealizowanych lekcji
                                        Aktywnie uczestniczysz w sukcesach swojego dziecka i wspierasz je wtedy, kiedy tego potrzebuje.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://www.cmmonline.com/wp-content/uploads/2018-08-communication-builds-housekeeping-professionals-detail-1200x627.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Komunikacja</h5></a>
                                    <p class="card-text mb-0">
                                        Łatwo komunikujesz się z nauczycielami.
                                        Wiesz, jakie zajęcia ma Twoje dziecko.
                                        Sprawnie usprawiedliwiasz nieobecności.
                                        | moduł wiadomości | moduł ogłoszenia | moduł pliki szkoły | moduł uwagi | moduł szczęśliwy numerek | e-Usprawiedliwienia |
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Jacek Lato | PAI - Politechnika Lubelska 2021</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
    </body>
</html>
