<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content/>
    <meta name="author" content/>
    <title>User Menu</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <style>
        .modal {
            display: block;
            width: 300px;
            max-width: 100%;
            height: 150px;
            max-height: 100%;
            position: fixed;
            z-index: 100;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: white;
            box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
        }
        .closed {
            display: none;
        }

        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 50;

            background: rgba(0, 0, 0, 0.6);
        }
        .modal-guts {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 20px 50px 20px 20px;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .modal .close-button {
            position: absolute;
            z-index: 1;
            top: 5px;
            right: 10px;
            border: 0;
            background: black;
            color: white;
            padding: 5px 10px;
            font-size: 0.9rem;
        }

    </style>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" th:href="@{/}">Virtual Diary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                            class="bi bi-info-square-fill"></i></div>
                    <h1 class="fw-bolder" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                    <br>
                    <nav class="nav flex-column navbar-light bg-light">

                        <h4>Menu</h4>
                        <br>

                         <span th:if="${role}">
                                    <a class="btn btn-outline-success me-4" th:href="@{/studentsList}">Show students list</a>
                                    <a class="btn btn-outline-success me-4" th:href="@{/register}">Add new student </a>
                                    <a class="btn btn-outline-success me-4" th:href="@{/adminRegisterPage}">Add new teacher </a>
                                    <a id="open-button" class="btn btn-outline-success me-2" >Menage Class</a>

                         </span>
                        <br>

                        <span th:if="!${role}">
                            <a class="btn btn-outline-success me-2" th:href="@{/edit}">Edit credentials</a>
                            <a class="btn btn-outline-success me-2" th:href="@{/studentGrades}">Show my grades</a>
                            <br>
                        </span>


                        <span>
                            <a class="btn btn-outline-warning me-2" th:href="@{/changePasswdPage}">Change password</a>
                            <br>
                        </span>
                        <br>

                        <form th:action="@{/logout}" method="post">
                            <input class="btn btn-outline-danger me-2" type="submit" value="Sign Out"/>
                        </form>

                    </nav>
                    <br>
                    <div class="row gx-5 justify-content-center">

                        <span th:if="${role}">
                        <div class="modal-overlay closed" id="modal-overlay"></div>
                        <div class="modal closed" id="modal">
                            <button class="close-button" id="close-button">x</button>
                            <div class="modal-guts">
                                <h5>Choose class</h5>

                                <form method="post" th:action="@{/menageClass}" th:object="${classNo}">
                                    <select class="form-select form-select-sm" aria-label="Default select example" th:field="*{name}">
                                        <option th:each="klasa : ${classesList}" th:text="${klasa.name}" th:value="${klasa.name}"></option>
                                    </select>
                                    </br>
                                    <button class="btn btn-dark btn-sm px-2 me-sm-1" type="submit">Choose</button>
                                </form>
                            </div>
                        </div>
                        </span>

                    </div>
                </div>
            </div>
            <!-- Contact cards-->
            <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                            class="bi bi-chat-dots"></i></div>
                    <div class="h5 mb-2">Chat with us</div>
                    <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i>
                    </div>
                    <div class="h5">Ask the community</div>
                    <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                            class="bi bi-question-circle"></i></div>
                    <div class="h5">Support center</div>
                    <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                            class="bi bi-telephone"></i></div>
                    <div class="h5">Call us</div>
                    <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Jacek Lato | PAI - Politechnika Lubelska 2021</div></div>
            </div>
        </div>
    </div>
</footer>
<!--<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>-->
<!--<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>-->

<script>
    var modal = document.querySelector("#modal");
    var modalOverlay = document.querySelector("#modal-overlay");
    var closeButton = document.querySelector("#close-button");
    var openButton = document.querySelector("#open-button");

    closeButton.addEventListener("click", function() {
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
    });

    openButton.addEventListener("click", function() {
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
    });
</script>

</body>
</html>
