<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Class</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>

</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" th:href="@{/}">Virtual Diary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Menage class</h1>
                <p class="lead fw-normal text-muted mb-0">Manage center</p>
                <br/>
            </div>

            <table class="table" id="myTable">
                <thead>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Grades</th>
                <th>Presence</th>
                <th>Late?</th>
                </thead>
                <tbody>

                <tr th:each="student : ${studentsOfClassList}">
                    <td><span th:text="${studentStat.count}"></span></td>
                    <td><span th:text="${student.getUser().name}"></span></td>
                    <td><span th:text="${student.getUser().surname}"></span></td>
                    <td><span th:text="${student.getUser().email}"></span></td>

                    <td>
                        <span th:each="mapka : ${mapOfGrade}">
                            <span th:if="${mapka.getKey.equalsIgnoreCase(student.getUser().name)}">
                                <span th:each="grades : ${mapka.value}">
                                    <p th:text="${grades.getGrade()} + ' - ' + ${grades.getDesc()}"></p>
                                </span>
                            </span>
                        </span>
                    </td>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div>
                                <h5>Add a grade</h5>
                                <form method="post" th:action="@{/addStudentGrade}" th:object="${grade}">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" th:name="studentId">
                                            <option selected value="select">Select...</option>
                                            <option th:each="student : ${studentsOfClassList}"
                                                    th:value="${student.getUser().id}"
                                                    th:text="${student.getUser().name} + ' ' + ${student.getUser().surname}"
                                                    class="form-control" id="inputDrivingLicenceNo"
                                                    type="text"></option>
                                            <label for="inputDrivingLicenceNo">Class</label>
                                        </select>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputGrade" type="text" th:field="*{grade}"
                                               required/>
                                        <label for="inputGrade">Grade</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputDesc" type="text" th:field="*{desc}"
                                               required/>
                                        <label for="inputDesc">Description</label>
                                    </div>
                                    </br>
                                    <button class="btn btn-dark btn-sm px-2 me-sm-1" type="submit">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>


                    <td><span>
                        <label class="switch">
                      <input type="checkbox" > <!-- th:name="isPresent" th:with="flag=false" th:checked="${flag}" th:value="${student.getUser().name} + ',' + ${flag}" -->
                      <span class="slider round"></span>
                    </label>
                    </span></td>
                    <td>
                        <label>
                            <input type="checkbox" class="form-check-input">
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>

            <span><button id="myBtn" class="btn btn-outline-danger btn-sm">Give a grade</button></span>

        </div>


    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Jacek Lato | PAI - Politechnika Lubelska 2021</div></div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script>

    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");

    btn.onclick = function () {
        modal.style.display = "block";
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
</body>
</html>
