<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Students list</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" th:href="@{/}">Virtual Diary</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Students list</h1>
                        <p class="lead fw-normal text-muted mb-0">Manage center</p>
                        <p class="lead fw-normal text-muted mb-0">Filter by class number:</p>
                        <br/>
                        <center>
                        <div class="col-2">
                        <select class="form-select form-select-sm" id="myList" onchange="filter()" aria-label="Default select example">
                            <option selected>All</option>
                            <option th:each="klasa : ${classesList}" th:text="${klasa.name}" th:value="${klasa.name}"></option>
                        </select>
                        </div>
                        </center>
                    </div>

                    <table class="table" id="myTable">
                        <thead>
                        <th>#</th>
                        <th>Login</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>Class</th>
                        <th>Delete</th>
                        <th>Edit</th>
                        </thead>
                        <tbody>

                        <tr th:each="student : ${studentsList}">
                            <td><span th:text="${studentStat.count}"></span></td>
                            <td><span th:text="${student.login}"></span></td>
                            <td><span th:text="${student.name}"></span></td>
                            <td><span th:text="${student.surname}"></span></td>
                            <td><span th:text="${student.email}"></span></td>
                            <td><span th:text="${student.phoneNumber}"></span></td>
                            <td><span th:text="${student.address1}"></span></td>
                            <td><span th:text="${student.address2}"></span></td>
                            <td><span th:text="${student.classNo}"></span></td>
                            <td><span><a class="btn btn-outline-danger btn-sm" th:href="${'/delete/'+student.id}" onclick="return confirm('Are you sure you want to delete this student?');">Delete</a></span></td>
                            <td><span><a class="btn btn-outline-secondary btn-sm" th:href="${'/studentEditAdminPage/'+student.id}">Edit</a></span></td>
                        </tr>

                        </tbody>
                    </table>


                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Jacek Lato | PAI - Politechnika Lubelska 2021</div></div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            function filter() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("myList");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[8];
                    if (td) {
                        if(filter == "ALL") {
                            tr[i].style.display = "";
                        } else {
                            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            }
        </script>


    </body>
</html>
